<nav class="nav">
  <a
    routerLink="/"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    [routerLinkActiveOptions]="{ exact: true }"
    class="nav-item"
  >
    Home
  </a>

  <a
    routerLink="/about"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="nav-item"
  >
    About
  </a>

  <a
    routerLink="/books"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="nav-item"
  >
    Books
  </a>
  <a
    routerLink="/animals"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="nav-item"
  >
    Animals
  </a>
</nav>
